

.body{
    margin: 10px;
    background-color: rgba(121, 74, 24, 0.349);
}

.contenedor-header {
    display: flex;
    align-items: center;
    background-color: rgba(85, 34, 8, 0.486);
}


.logo img {
    width: 150px;
    height: auto;
    border-radius: 90px;
}


.navbar ul.menu {
    display: flex;
    list-style: none;
    gap: 25px;
    size: 15px;
}

.navbar ul.menu li {
    list-style: none;
}

.navbar ul.menu li a {
    color: white;
    text-decoration: none;
    border: solid black;
    border-radius: 25px;
    background-color: rgb(107, 57, 76);
    font-size: 30px;
    margin-left: 95px;
    padding: 5px;
}

.navbar ul.menu li a:hover {
    background-color: rgb(163, 86, 117);
    transform: scale(1.1);
    color: black;
}

.navbar ul.menu li a.active {
    background-color: rgb(163, 86, 117);
    transform: scale(1.1);
    color: black;
    padding: auto;
}


.footer {
    margin-top: 30px;
    background-color: black;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    padding: 10px 20px;
    text-align: center;
}

.footer .derechos {
    font-size: 16px;
    margin: 10px 0;
    color: white;
}



.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    margin-left: 650px;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .hamburger {
        display: block;
        margin-left: 500px;
    }

    .menu {
        flex-direction: column;
        background-color: rgb(92, 38, 12);
        position: absolute;
        top: 100%;
        right: 0;
        width: 250px;
        height: 250px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-out;
        position: absolute;
        z-index: 100;
    }

    .menu.show {
        max-height: 500px; 
        transition: max-height 0.5s ease-in;
    }

    .menu li {
        text-align: center;
        padding: 10px;
        margin-top: 12px;
        display: flex;
    }

    .contenedor-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    }

    .logo img {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
    }

    .hamburger {
    margin-left: 650px;
    margin-top: -80px;
    align-self: flex-end;
    }

    .navbar ul.menu li a {
    margin-left: 0;
    font-size: 20px;
    padding: 8px;
    position: absolute;
    z-index: 100;
    }


    .footer {
        justify-content: space-between;
        text-align: left;
    }

    .footer .derechos {
        margin: 0;
    }
}






/*INICIO*/

#contenidoInicioBtn {
    height: 550px;
    width: 478px;
    background: url(../img/foto11.png);
    margin: 35px auto;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1.05);
    position: relative;
    z-index: 1;
  }
  
  #contenidoInicioBtn:hover {
    background-color: gray;
    color: white;
    transform: scale(1.1);
    z-index: 10;
    transition: transform 0.2s ease;
  }
  
  .pedido {
    margin-left: 130px;
    padding-top: 468px;
  }
  
  /* CARRUSEL */
  .carousel-track {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 1480px;
    z-index: 10;
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .carousel-track.show {
    display: flex;
  }
  
  .carousel-track::-webkit-scrollbar {
    display: none;
  }
  
  .square {
    flex: 0 0 auto;
    width: 350px;
    height: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 5px;
    margin-top: 50px;
  }
  
  .square p {
    margin: 10px;
    color: black;
    font-weight: bold;
    font-size: 16px;
  }
  
  .square img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
    flex-grow: 1;
  }
  
  .square img:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  /* MODAL */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: url(../img/WhatsApp\ Image\ 2025-05-07\ at\ 12.15.19.jpeg);
    background-size: cover;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    max-width: 700px;
    width: 95%;
    height: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
    text-align: center;
  }
  
  .modal-content #modal-title {
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin-top: 40px;
  }
  
  #modal-description {
    font-size: 22px;
    color: #333;
    white-space: pre-wrap;
    margin-top: 40px;
  }



  
  /* Botones de cierre */
  .close-modal,
  .close-carousel {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    color: #333;
    cursor: pointer;
  }
  
  


/*SOBRE NOSOTROS*/

.main1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.box1, .box2 {
  background-color: rgba(121, 74, 24, 0.349);
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  position: relative;
  box-sizing: border-box;
}

.box1:hover, .box2:hover,
{
  transform: scale(1.05);
  z-index: 10;
  transition: transform 0.2s ease;
}

.h1 {
  text-align: center;
  color: white;
}

.h2, .p1, .p2 {
  text-align: center;
  color: white;
  padding: 10px;
}

.foto4 {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin: 20px auto;
  display: block;
}

.box2 {
  background-image: url(../img/foto13.jpeg);
  background-size: cover;
  background-position: center;
  color: black;
}

.beneficios {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.box2 p {
  font-size: 18px;
  padding-left: 30px;
}

/* FOOTER */
.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: white;
  font-size: 14px;
  text-align: center;
}





/*CATALOGO*/
.productos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.productos-grid > div {
  background-color: rgb(62, 12, 12);
  height: 300px;
  width: 250px;
  border-radius: 15px;
  transition: transform 0.3s ease;
  position: relative;
}

.productos-grid > div:hover {
  transform: scale(1.2);
  z-index: 10;
}

.productos-grid h2 {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-bottom: 3px;
}

.productos-grid img {
  height: 200px;
  width: 180px;
  margin-top: 5px;
  margin-left: 33px;
  display: block;
  border-radius: 15px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.close:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  
  .productos-grid > div {
    width: 80%;
    font-size: small;
  }

  .productos-grid img {
    width: 80%;
    font-size: small;
  }

  .productos-grid h2 {
    font-size: 18px;
  }
}





/*CONTACTO*/


.contact-box {
    background-color: rgb(76, 15, 38);
    padding: 20px;
    border-radius: 15px;
    text-align: center;    
    margin: 30px auto;
    width: 570px;
    height: 500px;
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.contact-box h3 {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 40px;
    color: white;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-link {
    margin-top: 5px;
    text-decoration: none;
    color: white;
    background-color: rgba(85, 34, 8, 0.486);
    padding: 10px 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s;
}

.contact-link i {
    font-size: 18px;
}

.contact-link:hover {
    background: rgb(82, 18, 29);
    transform: translateY(-3px);
}

.contact-link.instagram:hover {
    color: #e1306c;
}

.contact-link.whatsapp:hover {
    color: #25D366;
}


.contact-info {
    margin-top: 20px;
    text-align: left;
    padding: 0 20px;
    font-size: 30px;
    line-height: 1.6;
}

.contact-info p {
    margin-top: 5px;
    color: white;
}

@media (max-width: 768px) {

  #contenidoInicioBtn {
    width: 90%;
    height: 400px;
    background-size: cover;
    background-position: center;
  }

  .pedido {
    margin-left: 20px;
    padding-top: 320px;
    font-size: 20px;
  }

  .carousel-track {
    width: 100%;
    left: 0;
    flex-direction: column;
    align-items: center;
    padding: 10px;

  }

  .square {
    width: 90%;
    height: auto;
  }

  .square img {
    height: 300px;
  }

  .modal-content {
    height: auto;
    padding: 20px;
  }

  #modal-title {
    font-size: 22px;
  }

  #modal-description {
    font-size: 18px;
  }

  
}
